{% load static %}
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% with request.resolver_match.view_name as view_name %}
            {% if request.user.is_authenticated or request.session.username %}
              <li class="nav-item active">
                <a class="nav-link {% if view_name == "catalog:catalog" %}nav-link disabled{% endif %}" href="{% url "catalog:catalog" %}">Каталог</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link {% if view_name == "person:profile" %}nav-link disabled{% endif %}" href="{% url "person:profile" %}">Профиль</a>
              </li>
              <form action="{% url "person:logout" %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Выйти</button>
              </form>
            {% endif %}
            {% if not request.user.is_authenticated and not request.session.username %}
              <li class="nav-item active">
                <a class="nav-link {% if view_name == "person:login" %}nav-link disabled{% endif %}" href="{% url "person:login" %}">Войти</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link {% if view_name == "person:registration" %}nav-link disabled{% endif %}" href="{% url "person:registration" %}">Зарегистрироваться</a>
              </li>
            {% endif %}
          {% endwith %}
        </ul>
      </div>
    </nav>
  </header>