{% extends "base.html" %}
{% block content %}
<div class="container">
  <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
          <span class="input-group-text">{{ profile.image_tmb }}</span>
          {{ profile_form.image }}
      </div>
      <div class="input-group mb-3">
          <span class="input-group-text">{{ user.username }}</span>
          {{ profile_form.username }}
      </div>
      <div class="input-group mb-3">
          <span class="input-group-text">{{ user.email }}</span>
          {{ profile_form.email }}
      </div>
      <div class="input-group mb-3">
          <span class="input-group-text">{{ profile.birthday }}</span>
          {{ profile_form.birthday }}
      </div>
      <button type="submit" class="btn btn-success">Сохранить</button>
  </form>
    <div class="d-flex flex-wrap align-items-stretch">
{% for film in history %}
<div class="card" style="width: 18rem;">
  {{ film.image_tmb }}
  <div class="card-body">
    <h5 class="card-title">{{ film.name }}</h5>
    <p class="card-text">{{ film.description|truncatechars:80 }}</p>
    <a href="{% url "catalog:item" pk=film.id %}" class="btn btn-primary">Смотреть</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}