{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 18rem;">
  {{ film.image_tmb }}
</div>
<p class="text-start">{{ film.name }}</p>
<p class="text-start">{{ film.description }}</p>
{% for genre in genres %}
{{ genre }}
{% endfor %}
<p class="text-start">{{ film.year_of_release }}</p>
<p class="text-start">{{ film.premiere }}</p>
<p class="text-start">{{ film.country }}</p>
<p class="text-start">{{ film.director }}</p>
<p class="text-start">{{ film.mark }}</p>
<video controls preload="metadata" src="{{ film.movie }}">
</video>
{% endblock %}